.App {
  text-align: center;
}

.resultstable {
  width: 100%;
  text-align: left;
}

.searchinput {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

thead {
  background: #d3b1ff
}

.numerosarake {
  text-align: right;
}

tr:nth-child(even) {background: #CCC}

tr:nth-child(even) td:nth-child(3) {background: #BBB}
tr:nth-child(odd) td:nth-child(3) {background: #DDD}

select, textarea, input[type="text"], 
input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"] {
   font-size: 16px; 
}

